@import "../../../scss/Variables.scss";
.subtotal-card {
  width: 20rem;
  height: 10rem;
  background-color: white;
  border: 1px solid $border-color;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.subtotal-button {
  display: flex;
  flex-flow: column;
  gap: 10px;
  & button {
    cursor: pointer;
    border: 1px solid gray;
    background-color: $yellow;
    height: 30px;
    min-width: 250px;
    border-radius: 2px;
  }
}
p b {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
