@import "../../scss/Variables.scss";
.skeleton-loading-vertical {
  max-width: 40rem;
  min-width: 22rem;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  height: 30rem;
  border: 1px solid $border-color;
  background-color: white;
  row-gap: 10px;
  padding: 10px;
  overflow: hidden;
  justify-content: start;
  align-items: start;
  @media screen and (max-width: $mobile) {
    width: auto;
    max-width: 20rem;
    min-width: 18rem;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    height: 30rem;
    border: 1px solid $border-color;
    background-color: white;
    // border-radius: 4px;
    row-gap: 10px;
    overflow: hidden;
  }
  .skeleton-image {
    @include skeleton-loading-animation;
    height: 60%;
    width: 100%;
    display: flex;
    border-radius: 3px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
  }
  .skeleton-detail-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 11px;
  }
  .skeleton-details {
    @include skeleton-loading-animation;
    width: 60%;
    border-radius: 3px;
    height: 15px;
  }
  .skeleton-title {
    @include skeleton-loading-animation;
    width: 100%;
    border-radius: 3px;
    height: 15px;
  }
  .skeleton-title-last {
    @include skeleton-loading-animation;
    width: 80%;
    border-radius: 3px;
    height: 15px;
  }
  .skeleton-ratings-star {
    @include skeleton-loading-animation-svg;
  }
  .skeleton-ratings {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .ratings {
    min-width: 70%;
  }
  .skeleton-button {
    @include skeleton-loading-animation;
    width: 30%;
    border-radius: 3px;
    height: 20px;
  }
}

// for another section

.skeleton-loading-horizontal {
  min-width: 72.8rem;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-flow: row nowrap;
  height: 11rem;
  overflow: hidden;
  border: 1px solid $border-color;
  padding: 5px;
  @media screen and (max-width: $skeleton-mobile) {
    min-width: 20rem;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-flow: column nowrap;
    height: 30rem;
    overflow: hidden;
    border: 1px solid $border-color;
  }
  @media screen and (max-width: $mobile) and (min-width: $skeleton-mobile) {
    min-width: 29rem;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-flow: column nowrap;
    height: 30rem;
    overflow: hidden;
    border: 1px solid $border-color;
  }
  @media screen and (max-width: $skeleton-small) and (min-width: $mobile) {
    min-width: 35rem;
    max-width: 38rem;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-flow: row nowrap;
    height: 11rem;
    overflow: hidden;
    border: 1px solid $border-color;
  }
  @media screen and (max-width: $medium) and (min-width: $small) {
    min-width: 45rem;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-flow: row nowrap;
    height: 11rem;
    overflow: hidden;
    border: 1px solid $border-color;
  }
  .skeleton-image {
    @include skeleton-loading-animation;
    height: 100%;
    min-width: 23%;
    border-radius: 3px;
    background-color: transparent;
  }
  .skeleton-detail-container {
    padding: 10px;
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 11px;
  }
  .skeleton-details {
    @include skeleton-loading-animation;
    width: 60%;
    border-radius: 3px;
    height: 15px;
  }
  .skeleton-title {
    @include skeleton-loading-animation;
    width: 100%;
    border-radius: 3px;
    height: 15px;
  }
  .skeleton-title-last {
    @include skeleton-loading-animation;
    width: 80%;
    border-radius: 3px;
    height: 15px;
  }
  .skeleton-ratings-star {
    @include skeleton-loading-animation-svg;
  }
  .skeleton-ratings {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: start;
  }

  .ratings {
    min-width: 70%;
  }
  .skeleton-button {
    @include skeleton-loading-animation;
    width: 20%;
    border-radius: 3px;
    height: 20px;
  }
}
