@import "../../../scss/Variables.scss";
* {
  margin: 0;
  padding: 0;
}
.hero-image {
  width: 100%;
  margin-bottom: -40%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
}
.hero {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
}

.products {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  gap: 10px;
  flex-flow: row wrap;
}
.products-recommend {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  flex-flow: column wrap;
}

.products-dual {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding: 10px;
  align-items: center;
  gap: 10px;
}



