@import "../scss/Variables.scss";
.checkout-container {
  padding: 10px;
  overflow: hidden;
  width: auto;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: start;
  gap: 10px;
  & .checkout-ads {
    height: auto;
    max-height: 6rem;
    width: 100%;
  }
  & h2 {
    width: 99%;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid gainsboro;
  }
  & .checkout-product-container {
    padding: 0 2px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
  }
  & .checkout-product {
    order: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
  }
  & .checkout-subtotal {
    order: 2;
  }
}
