@import "../scss/Variables.scss";
.checkout-container {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 10px;
  & .checkout-ads {
    height: auto;
    max-height: 6rem;
    width: 100%;
  }
  & h2 {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    border-bottom: 1px solid gray;
  }
  & .checkout-product-container{
    padding: 0 2px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
  }
  & .checkout-product{
    display: flex;
    flex-flow: column nowrap;
  }
}
