@import "../../scss//Variables.scss";

.payment {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.payment-address {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  width: 50%;
  min-height: 15rem;
  max-height: 20rem;
  background-color: white;
  h3 {
    border-bottom: 2px solid black;
    text-transform: capitalize;
  }
  .address-form {
    width: 50%;
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 10px;
    span {
      display: flex;
      justify-content: start;
      align-items: center;
      position: relative;
      width: 100%;
    }
    input {
      padding-left: 2rem;
      width: 100%;
    }
    input[type="checkbox"] {
      border: 0px;
      outline: none;
      height: 20px;
      width: 20px;
    }
    .svg {
      position: absolute;
      top: 50%;
      left: 2%;
      color: black;
    }
    button {
      svg {
        @include spin-animation;
      }
    }
  }
}
.card{
}