$navbar-color: #131921;
$yellow: #ff9900;
$border-color: #dcdcdc;
// sreen res--  breakpoints for media query
$mobile: 600px;
$skeleton-mobile: 500px;
$small: 48rem; // 768px
$skeleton-small: 680px;
$medium: 64em; // 1024px
$large: 85.375em; // 1366px
$xlarge: 120em; // 1920px
$xxlarge: 160em; // 2560px

@mixin spin-animation {
  animation: spin 800ms infinite linear;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@mixin skeleton-loading-animation {
  animation: skeleton-loading 1.5s linear infinite alternate;
  @keyframes skeleton-loading {
    from {
      background-color: hsl(0, 4%, 82%);
    }
    to {
      background-color: hsl(0, 0%, 95%);
    }
  }
}
@mixin skeleton-loading-animation-svg {
  animation: skeleton-loading-svg 1.5s linear infinite alternate;
  @keyframes skeleton-loading-svg {
    from {
      fill: hsl(0, 4%, 82%);
      color: hsl(0, 4%, 82%);
    }
    to {
      fill: hsl(0, 0%, 95%);
      color: hsl(0, 0%, 95%);
    }
  }
}
// Media Queries
// $mq-small: "(min-width: #{$bp-small})";
// $mq-medium: "(min-width: #{$bp-medium})";
// $mq-large: "(min-width: #{$bp-large})";
// $mq-xlarge: "(min-width: #{$bp-xlarge})";
// $mq-xxlarge: "(min-width: #{$bp-xxlarge})";
// $mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
