@import "../../../scss/Variables.scss";
.card {
  max-width: 40rem;
  width: 22rem;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  height: 30rem;
  border: 1px solid $border-color;
  background-color: white;
  row-gap: 10px;
  overflow: hidden;
  @media screen and (max-width: $mobile) {
    width: auto;
    max-width: 20rem;
    min-width: 18rem;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    height: 30rem;
    border: 1px solid $border-color;
    background-color: white;
    // border-radius: 4px;
    row-gap: 10px;
    overflow: hidden;
  }
  & .card-image {
    height: 60%;
    display: flex;
    border-radius: 4px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    & img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  & .card-details {
    background-color: white;
    height: 100%;
    padding: 10px 5px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 2px;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;

    & .card-title {
      min-height: 24px;
      color: gray;
      display: flex;
      align-items: center;
      overflow: hidden;
      width: 96%;
      text-align: start;
      padding: 0 1px;
    }
    .card-description {
      height: auto;
      max-height: 60%;
      width: 98%;
      font-size: 12px;
      overflow: hidden;
    }
  }

  & .card-ratings {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    & span {
      width: 100px;
      max-height: 40px;
      height: auto;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    & .card-ratings-star {
      color: $yellow;
      display: flex;
      justify-content: start;
      align-items: center;
    }
    .card-button {
      border: 0;
      width: 70%;
      button {
        cursor: pointer;
        background-color: $yellow;
        height: 30px;
        width: 90%;
        border-radius: 4px;
        border: 1px solid gray;
      }
    }
  }
}

.horizontal-card {
  min-width: 50rem;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-flow: row nowrap;
  height: 11rem;
  overflow: hidden;
  border: 1px solid $border-color;
  // flex: 2;
  @media screen and (max-width: $mobile) {
    min-width: 10rem;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-flow: column nowrap;
    height: 30rem;
    overflow: hidden;
    border: 1px solid $border-color;
  }
  @media screen and (max-width: $medium) and (min-width: $mobile) {
    min-width: 20rem;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-flow: row nowrap;
    height: 11rem;
    overflow: hidden;
    border: 1px solid $border-color;
  }
  & .card-image {
    height: 100%;
    display: flex;
    width: 30%;
    border-radius: 4px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    & img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    @media screen and (max-width: $mobile) {
      height: 50%;
      display: flex;
      width: 30%;
      border-radius: 4px;
      background-color: transparent;
      justify-content: center;
      align-items: center;
      align-self: center;

      & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  & .card-details {
    background-color: white;
    gap: 4px;
    min-height: 85%;
    padding: 10px 5px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;

    & .card-title {
      min-height: 20px;
      display: flex;
      color: gray;

      align-items: center;
      overflow: hidden;
      width: 96%;
      text-align: start;
      padding: 0 1px;
    }
    .card-description {
      font-size: 14px;
      height: 90%;
      width: 98%;
      overflow: hidden;
    }
    @media screen and (max-width: $mobile) {
      font-size: 14px;
    }
  }

  & .card-ratings {
    display: flex;
    width: auto;
    height: 100%;
    width: 50%;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
    & span {
      width: 100px;
      max-height: 40px;
      height: auto;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    & .card-ratings-star {
      color: $yellow;
      display: flex;
      justify-content: start;
      align-items: center;
    }

    .card-button {
      border: 0;
      max-width: 100%;
      width: auto;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
      button {
        cursor: pointer;
        background-color: $yellow;
        height: 30px;
        width: auto;
        background-color: #ffffff;
        border-radius: 4px;
        border: 1px solid $border-color;
      }
      button:hover {
        background-color: #ededed;
        border: 1px solid $border-color;
      }
      .quantity-container {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 40px;
        height: 30px;
        cursor: pointer;
        background-color: #ffffff;
        gap: 10px;
      }
      .quantity {
        min-width: 40px;
        height: 30px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid $border-color;
        background-color: #ffffff;
      }

      .quantity:hover {
        background-color: $border-color;
        border: 1px solid $border-color;
      }
    }
  }
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
