.slider {
  width: 300px;
  height: 400px;
  background-color: red;
  margin: 10px;
  color: white;
  position: relative;
  display: flex;
  overflow: hidden;
}

.pre-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.next-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-content {
  height: 400px;
  min-width: 300px;
  display: flex;
  position: relative;
  width: 300%;
  left: 0;
  transition: left 0.3s ease-in-out;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
}

.slide {
  min-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  opacity: 1;
  scroll-snap-align: center;
}

.slide_active {
  opacity: 1;
}

/* New CSS for previous and next button */
.pre-button:before,
.next-button:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
}

.pre-button:before {
  border-width: 6px 8px 6px 0;
  border-color: transparent white transparent transparent;
  left: 5px;
}

.next-button:before {
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent white;
  right: 5px;
}

.pre-button:hover:before,
.next-button:hover:before {
  border-color: transparent gray transparent transparent;
}
